<style media="screen">
  .center{
    width: 800px;
    top: 50%;
    margin-left: -400px; /* margin is -0.5 * dimension */

  }
  .below-center{
    width: 400px;
    top: 60%;
    margin-left: -200px; /* margin is -0.5 * dimension */
  }
  .ingredients{
    width: 600px;
    top: 80%;
    margin-left: -300px; /* margin is -0.5 * dimension */
  }
</style>
<h1 class="font-styles center">Drink up! It is 5 oclock in <%=@country.name %> after all.</h1>

<p class="font-styles below-center">Might we suggest the <%=@drink_recommendation.name%> </p>
<% unless @drink_recommendation.ingredient.nil? || @drink_recommendation.ingredient.empty? %>
    <p class="font-styles ingredients">*Ingredients <%= @drink_recommendation.ingredient%> <p>
<% end %>

